!.oh-my-zsh/plugins
{{ if false -}}
{{ range .zshPlugins }}
!.oh-my-zsh/plugins/{{ . }}
!.oh-my-zsh/plugins/{{ . }}/**
{{- end }}
{{ end -}}
.oh-my-zsh/cache/**
.oh-my-zsh/plugins/**
.oh-my-zsh/templates/**

{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
.hushlogin
.local/bin/nvim
.local/share/fonts
{{ end }}
