{{ if eq .osid "linux-arch" -}}

{{ $packages := list
	"base"
	"base-devel"
	"chezmoi"
	"discord"
	"firefox"
	"git"
	"neovim"
	"nodejs"
	"openssh"
	"protonmail-bridge"
	"ranger"
	"thunderbird"
	"ttf-jetbrains-mono"
	"vim"
	"zathura"
	"zsh" -}}

{{/* sway */ -}}
{{ $packages = concat $packages (list "rofi" "sway" "swaybg" "waybar" "wl-clipboard" "foot") -}}

#!/bin/bash

set -euo pipefail

sudo pacman -Syu
sudo pacman -S --needed {{ $packages | join " " }}

{{ end -}}
