{{ if eq .osid "linux-fedora" -}}

#!/bin/bash

set -euo pipefail

fc-cache -f

gsettings set org.gnome.shell favorite-apps "[ \
{{ if (and (lookPath "flatpak") (exec "flatpak" "info" "com.discordapp.Discord")) -}}
        'com.discordapp.Discord.desktop',
{{ end -}}
{{ if lookPath "thunderbird" -}}
        'net.thunderbird.Thunderbird.desktop', \
{{ end -}}
{{ if lookPath "firefox" -}}
        'org.mozilla.firefox.desktop', \
{{ end -}}
        'org.gnome.Nautilus.desktop', \
        'org.gnome.Ptyxis.desktop' \
]"

gsettings set org.gnome.desktop.peripherals.touchpad natural-scroll false
gsettings set org.gnome.desktop.peripherals.touchpad accel-profile 'flat'
gsettings set org.gnome.desktop.peripherals.mouse accel-profile 'flat'

{{ end -}}
