{{ if eq .osid "linux-arch" "linux-fedora" -}}

{{ $packagesFlatpak := list -}}
{{ $packages := list
	"chezmoi"
	"git"
	"neovim"
	"nodejs"
	"openssh"
	"ranger"
	"vim"
	"zsh" -}}
{{ if eq .osid "linux-arch" -}}
{{   $packages = mustAppend $packages "ttf-jetbrains-mono" -}}
{{ else if eq .osid "linux-fedora" -}}
{{   $packages = mustAppend $packages "jetbrains-mono-fonts" -}}
{{ end -}}

{{/* workstation */ -}}
{{ $packages = concat $packages (list "firefox" "homebank" "thunderbird" "zathura") -}}
{{ if eq .osid "linux-arch" -}}
{{   $packages = concat $packages (list "discord" "protonmail-bridge") -}}
{{ else if eq .osid "linux-fedora" -}}
{{   $packagesFlatpak = concat $packagesFlatpak (list "com.discordapp.Discord" "ch.protonmail.protonmail-bridge") -}}
{{ end -}}

{{/* sway */ -}}
{{ $packages = concat $packages (list "rofi" "sway" "swaybg" "waybar" "wl-clipboard" "foot") -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/bin/bash

set -euo pipefail

{{ if eq .osid "linux-arch" -}}
{{ $sudo }}pacman -Syu
{{ $sudo }}pacman -S --needed {{ $packages | join " " }}
{{ else if eq .osid "linux-fedora" -}}
if ! rpm -q rpmfusion-free-release >/dev/null 2>&1 || \
   ! rpm -q rpmfusion-nonfree-release >/dev/null 2>&1; then
    {{ $sudo }}sudo dnf install -y \
        https://mirrors.rpmfusion.org/free/fedora/rpmfusion-free-release-$(rpm -E %fedora).noarch.rpm \
        https://mirrors.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-$(rpm -E %fedora).noarch.rpm
fi
{{ $sudo }}dnf upgrade
{{ $sudo }}dnf install {{ $packages | join " " }}
flatpak install flathub {{ $packagesFlatpak | join " " }}
{{ end -}}

{{ end -}}
